{% extends 'flatpages/default.html' %}

{% block content %}

<h1>Для пользователя</h1>

<h2>Список мероприятий</h2>
На начальной странице инфосистеме (или в пункте меню <strong>«СПСОК МЕРОПРИЯТИЙ»</strong>) отображаются все введенные мероприятия, осторитрованные по убыванию даты проведения, страницами по 10 штук. <br>
нажав на ID мероприятия, откроется экран тестового зала, показывающего как мероприятие будет выглядеть на мониторе перед залами, где оно проводится.<br>
Здесь можно изменить количество строк на экранах списка мероприятий (см. пункт "Просмотр текущего экрана списка").<br>
Можно отфильтровать список по нужной дате. Для этого нужно ввести дату и нажать кнопку <strong>«ФИЛЬТРОВАТЬ»</strong>.


<h2>Создание мероприятия</h2>

<p>Что-бы добавить новое мероприятие, нужно зайти в пункт меню <strong>«ДОБАВИТЬ МЕРОРИЯТИЕ»</strong> и заполнить необходимые поля.
Поля отмеченные * обязательны для заполнения. </p>
<p>Затем отметить галочками те залы, перед которыми нужно будет вывести информацию о мероприятии (появляется за 2 часа перед началом) и те залы, которые будут отображены на экране списка (1-2 этаж) как место проведения мероприятия (появляются за 3 часа перед началом).</p>
<p>И нажать кнопку <strong>«СОХРАНИТЬ»</strong>.</p>

<h2>Редактирование мероприятия</h2>

<p>В пункте меню <strong>«СПИСОК МЕРОПРИЯТИЙ»</strong> (установлена как стартовая страница), выводится список всех мероприятий по 10 штук на страницу, отсортированных по времени их начала. Справа от мероприятия есть три действия. Нажмите на <strong>"изменить"</strong>, внесите необходимые изменения и нажмите кнопку <strong>«СОХРАНИТЬ»</strong>.</p>

<h2>Удаление мероприятия</h2>

<p>Если мероприятие нужно удалить, в списке действий из предыдущего пункта выберите <strong>«удалить»</strong>. Потом подтвердите удаление.</p>

<h2>Копирование мероприятия</h2>

<p>В списке действий из предыдущего пункта выберите <strong>«копировать»</strong>. Мероприятие полностью скопируется и отобразится в списке на дату, равную сегодняшней + 8 недель. Таким образом, оно, скорее всего, будет самым первым в списке. Нажмите <strong>«изменить»</strong> для скопированного события и поменяйте дату проведения (и другие необходимые поля).</p>

<h2>Просмотр мероприятия</h2>

<p>Что-бы посмотреть, как мероприятие будет выглядеть перед залом, на экране списка нажмите на ID номер мероприятия, откроется специальная комната для предпросмотра.</p>

<h2>Поиск мероприятий</h2>

<p>В пункте меню <strong>«РАСШИРЕННЫЙ ПОИСК»</strong> введите нужные критерии: дату проведения, часть названия мероприятия (соблюдая регистр), а также часть названия организатора, и нажмите <strong>«НАЙТИ»</strong>. Найденные мероприятия можно редактировать, удалять и копировать. Запросы можно комбинировать при необходимости.</p>

<h2>Просмотр текущего экрана списка</h2>

<p>Можно увидеть, как выглядит текущий экран списка мероприятий нажав на пункт меню <strong>«ЭКРАН СПИСКА»</strong>. Бывают ситуации, когда экран списка выглядит некрасиво (не помещается в экран, или наоборот, делится по недостаточному количеству строк), тогда можно поменять количество отображаемых на экране списка строк вручную. Для этого, в пункте меню <strong>«СПИСОК МЕРОПРИЯТИЙ»</strong>, вверху таблицы есть поле, куда можно ввести необходимое число строк и нажать <strong>«СОХРАНИТЬ»</strong>. Там же написано и текущее количество строк на экране списка.</p>

<h2>Рассылка мероприятий</h2>

<p>Настроена автоматическая рассылка мероприятий на завтра, каждый день в 14:00. В пункте меню <strong>«РАССЫЛКА»</strong> можно добавлять и удалять адреса, на которые эта рассылка будет приходить. Здесь же можно вручную инициировать немедленную рассылку мероприятий на любую дату по всем адресам, когда появилась необходимость внести изменения уже после авторассылки. Для этого нужно выбрать нужную дату и ОДИН раз нажать на кнопку <strong>«ОТПРАВИТЬ»</strong>. Когда появиться красная надпись <span style="color: red"><strong>ОТПРАВЛЕНО</strong></span> - рассылка произошла.</p>

<h1>Для администратора</h1>

<h2>Ссылки для запуска:</h2>

<p>192.168.3.116:8000 – страница пользователя</p>
<p>192.168.3.116:8000/admin – админка</p>
<p>192.168.3.116:8000/events/room/id – экран перед залом, где id – номер зала</p>
<p>192.168.3.116:8000/events/list – основной экран списка, переключающий экраны. Всегда должен быть открыт на одном компьютере. И только на одном.</p>
<p>192.168.3.116:8000/events/listconst – дублирующий основной экран списка. Может быть открыт на любом количестве компьютеров.</p>

<h2>Общее</h2>
Мероприятие в списке мероприятий появляется за 3 часа до начала и пропадает во время его окончания. Если мероприятий нет, отображается страница no_event.html <br>
Мероприятие перед залом появляется за 2 часа до начала и пропадает во время его окончания. Если оно перекрывается со следующим за ним мероприятием, то отображается начавшееся раньше. Если мероприятий нет, отображается страница no_event_room.html<br>
Картинки с воротами и логотипами лежат в \infosys\infosys\events\static. Можно их менять при необходимости.

<h2>Админка</h2>

<p>Доступна по 192.168.3.116:8000/admin </p>
<p>Пароль стандартный. </p>
<p>Здесь можно добавлять/удалять мероприятия, залы в обоих списках, ответственных менеджеров и список рассылки. Здесь так же можно менять время выполнения работы шедуллера (авторассылки) и смотреть лог его выполнения.</p>

<h2>Запуск инфосистемы</h2>

<p>Инфосистема расположена на компьютере 192.168.3.116 в каталоге C:\infosys (он расшарен для доступа по сети). </p>
<p>Запуск самой инфосистемы происходит через батник start_django.bat</p>
<p>Запуск шедуллера авторассылки происходит через батник start_shedule.bat</p>
<p>Ярлыки есть на рабочем столе. </p>
<p>После перезапуска инфосистемы понадобится перезагрузить все компьютеры перед залами.</p>

<h2>Ошибки работы</h2>

<p>Django пишет все возникающие ошибки своей работы (кроме ошибок шедуллера) в файл error.log лежащий в корневой папке инфосистемы.</p>

<h2>Расположение файлов</h2>

<p>В папку С:\infosys\infosys\media\images копируются используемые логотипы. Иногда её неплохо бы очищать.</p>
<p>База данных на SQLlite расположена в \infosys\infosys\db.sqllite3</p>

<h2>Перенос на другой компьютер</h2>

<p>Инфосистема написана на Python 3.8.10. При переносе на другой компьютер, первым делом необходимо установить эту версию python (если установить более позднюю, то необходимо будет вручную установить виртуальное окружение(по желанию) и все зависимости через файл requirments.txt).</p>
<p>Так же при изменении операционной системы с windows на другую, необходимо будет исправить все пути к статике в файлах: \infosys\infosys\infosys\settings.py и \infosys\infosys\events\views.py</p>
<p>Если установлена другая версия python, или windows не 7, проверьте правильность путей к файлам установки в файле \infosys\venv\pyvenv.cfg и пункт VIRTUAL_ENV="C:\infosys\venv" в файле \infosys\venv\Scripts\activate</p>


{% endblock content %}