<!DOCTYPE html>
{% load static %}
{% load custom_filters %}

<html>

<head lang="en">
    <meta http-equiv="refresh" content="30">
    <meta charset="UTF-8">
    <style>
   div {
    background: #d0e8c3; /* Цвет фона */
    color: #559139; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
	border-radius: 25px; /* Уголки */
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
   }
   
   .round_corner {
       border-radius: 50px; /* Уголки */
   }
  </style>


</head>

<body background = "{% static 'pict/back_new.jpg' %}">
<table border="0" cellpadding="0" cellspacing="20" width="100%">
	<tr height=100 valign="center" align="center">
		<td width=10% >
			<img src="{% static 'pict/mv.png' %}" width="100" height="100">
		</td>

		<td width=80%>
			<div class="round_corner">
			<b>МЕРОПРИЯТИЯ НА СЕГОДНЯ:      {{ date_show }}</b>
			</div>
		</td>

		<td width=10% >
			<div class="round_corner">
			<b>{{ time_show }}</b>
			</div>
		</td>
	</tr>
<!--	<tr height="3">-->
<!--		<td colspan="3" align="center" bgcolor="black">-->
<!--			<font size="3" color="black">-->
<!--				___-->
<!--			</font>-->
<!--		<img src="{% static 'pict/Green-line-divider.png' %}">-->
<!--		</td>-->
<!--	</tr>-->
</table>

<hr>

<table border="0" cellpadding="0" cellspacing="10" width="100%">

	<tr valign="center" align="center">
		{% for event in event_today %}
		<td width=12% valign="top" align="center">
			<div style="font-size: 45px; color: black; margin: 0px 0px 10px 0px">
				<b>{{ event.begin_time|time:'H:i' }} - {{ event.finish_time|time:'H:i' }}</b>
			</div>
		</td>

		<td width=57% valign="top" align="center">
			<div style="font-size: 45px; color: black; margin: 0px 0px 10px 0px"">
			<b>{{ event.title }}</b>
			</div>
		</td>

		<td width=31%  valign="top" align="center">
			<div style="font-size: 45px; color: black; margin: 0px 0px 10px 0px"">

			{% for hall in event.room_in_list.all %}
				<table cellspacing="5">
					<tr>
					<td align="center">
			           		<b> {{ hall }} <br> {{ hall.hall_in_list_place }} <br> </b>
						<!-- <font color="black">{{ hall.name_in_list_eng }} - {{ hall.hall_in_list_place|rename }}</font> -->
						
					</td>
					</tr>
				</table>
		

			{% endfor %}
			</div>
		</td>
	</tr>
	{% endfor %}
</table>
</body>
</html>