<!DOCTYPE html>
{% load static %}
{% load custom_filters %}

<html>

<head lang="en">
	<link rel="stylesheet" href="{% static 'css/style_list.css' %}">
	{% if event_today.has_next %}
    	<meta http-equiv="refresh" content="20;url='?page={{ event_today.next_page_number }}'" />
    {% else %}
		<meta http-equiv="refresh" content="20;url='?page=1" />
	{% endif %}
	<meta charset="UTF-8" />
</head>

<body class="body" background = "{% static 'pict/back_new.jpg' %}">

<main>
	<table class = "main_table" border="0" cellpadding="0" cellspacing="20">
		<tr height=100 valign="center" align="center">
			<td width=10% >
				<img src="{% static 'pict/mv.png' %}" width="100" height="100">
			</td>

			<td width=80%>
				<div class="round_corner">
				<b>МЕРОПРИЯТИЯ НА СЕГОДНЯ:      {{ date_show }}</b>
				</div>
			</td>

			<td width=10% >
				<div class="round_corner">
				<b>{{ time_show }}</b>
				</div>
			</td>
		</tr>
	<!--	<tr height="3">-->
	<!--		<td colspan="3" align="center" bgcolor="black">-->
	<!--			<font size="3" color="black">-->
	<!--				___-->
	<!--			</font>-->
	<!--		<img src="{% static 'pict/Green-line-divider.png' %}">-->
	<!--		</td>-->
	<!--	</tr>-->
	</table>

	<hr>

	<table border="0" cellpadding="0" cellspacing="10" width="100%">

		<tr valign="center" align="center">
			{% for event in event_today %}
			<td width=12% valign="top" align="center">
				<div style="font-size: 45px; color: black; margin: 0px 0px 10px 0px">
					<b>{{ event.begin_time|time:'H:i' }} - {{ event.finish_time|time:'H:i' }}</b>
				</div>
			</td>

			<td width=57% valign="top" align="center">
				<div style="font-size: 45px; color: black; margin: 0px 0px 10px 0px">
				<b>{{ event.title }}</b>
				</div>
			</td>

			<td width=31%  valign="top" align="center">
				<div style="font-size: 45px; color: black; margin: 0px 0px 10px 0px">

				{% for hall in event.room_in_list.all %}
					<table cellspacing="5">
						<tr>
						<td align="center">
								<b> {{ hall }} <br> {{ hall.hall_in_list_place }} <br> </b>
							<!-- <font color="black">{{ hall.name_in_list_eng }} - {{ hall.hall_in_list_place|rename }}</font> -->

						</td>
						</tr>
					</table>


				{% endfor %}
				</div>
			</td>
		</tr>
		{% endfor %}
	</table>
</main>

<footer class="niz">
	Экран {{ event_today.number }} из {{ event_today.paginator.num_pages }}
</footer>

</body>



</html>