{% extends 'flatpages/default.html' %}


{% block content %}

  <form action="" method="get">
       {{ filterset.form.as_p }}
      <br>
       <input type="submit" value="Найти" id="delete">
   </form>

<br><br>


<table class='list_table'>
            <th>ID</th>
            <th>Дата</th>
            <th>Название</th>
            <th>Перед залами</th>
            <th>На экране списка</th>
            <th>Время начала</th>
            <th>Время окончания</th>
            <th>Действия</th>
		{% for event in events %}
        <tr>
            <td>
                <a href="/events/{{ event.id }}">{{ event.id }} </a>
            </td>
            <td>
                {{ event.data|date:'d M Y' }}
            </td>
            <td>
                {{ event.title }}
            </td>
            <td>
                {% for hall in event.room.all %}
                <p>{{ hall }}</p>
                {% endfor %}</h3>
            </td>
            <td>
                {% for room in event.room_in_list.all %}
                <p>{{ room }}</p>
                {% endfor %}</h3>
            </td>
            <td>
                {{ event.begin_time|time:'H:i' }}
            </td>
            <td>
                {{ event.finish_time|time:'H:i' }}
            </td>
            <td>
                <p><a href="/events/{{ event.id }}/edit"> Изменить</a></p>
                <p><a href="/events/{{ event.id }}/delete"> Удалить </a></p>
				<p><a href="/events/{{ event.id }}/copy"> Копировать </a></p>
            </td>
        </tr>
        {% endfor %}
        </table>

{% endblock content %}
