{% extends 'flatpages/default.html' %}


{% block content %}

<form>

  <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>


</form>
<br><br>


<table align="center" border="2" width="100%">
    <tr>
     <td width="5%" height="50"><h2 align="center">ID</h2></td>
     <td width="10%" height="50"><h2 align="center">Дата</h2></td>
     <td width="50%"><h2 align="center">Название</h2></td>
     <td width="20%"><h2 align="center">Место провидения</h2></td>
     <td width="10%"><h2 align="center">Время начала</h2></td>
     <td width="10%"><h2 align="center">Время окончания</h2></td>
        <td width="10%"><h2 align="center">Действия</h2></td>
    </tr>

 {% for event in events %}
    <tr>
        <td height="50">
            <h3 align="center"> <a href="/events/{{ event.id }}">{{ event.id }}</a> </h3>
        </td>
        <td>
            <h3 align="center"> {{ event.data|date:'d M Y' }}</h3>
        </td>
        <td>
            <h3 align="center"> {{ event.title }} </h3>
        </td>
        <td>
            <h3 align="center">
            {% for hall in event.room.all %}
            <p>{{ hall }}</p>
            {% endfor %}</h3>
        </td>
        <td>
            <h3 align="center"> {{ event.begin_time|time:'H:i' }} </h3>
        </td>
        <td>
            <h3 align="center"> {{ event.finish_time|time:'H:i' }} </h3>
        </td>
        <td>
            <p><h4 align="center"> <a href="/events/{{ event.id }}/edit"> Изменить </h4></p>
            <p><h4 align="center"> <a href="/events/{{ event.id }}/delete"> Удалить </h4></p>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
</body>