{% extends 'flatpages/default.html' %}

{% block content %}

<div id="send_screen">
    <div>
        <h1>Список рассылки:</h1><br>
        <div class="send_list">
            <ol>
            {% for e in mail %}
                <li>{{ e.email }} - <a href="/events/{{ e.id }}/mail_delete"> Удалить </a></li>
            {% endfor %}
            </ol>
        </div>
        <form enctype="multipart/form-data" method="post" >
            {% csrf_token %}
            <label>Добавить адрес: </label>
            <input type="email" id="email" name="newmail">
            <button type="submit" id="row_button">Добавить</button>

        </form>
    </div>
    <div>
        <h4>Отправить всем список мероприятий на дату:</h4><br>
        <form action="" method="get">
            <input type="date" name="date" value="{{ tomorrow|date:'Y-m-d' }}">
            <button type="submit" id="delete">Отправить</button>
        </form>
        <br><br>
        <h2> {{ send_message }} </h2>
    </div>
</div>
{% endblock content %}

