<!DOCTYPE html>
{% load static %}

<html>

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Инфосистема "Московские Ворота"</title>
</head>

<body class="body">
    <header class="header">
        <div class="logo"> <img src="{% static 'pict/logo_mv.png' %}" alt="Logo"> </div>
        <div class="title">Инфосистема "Московские Ворота"</div>
    </header>

    <nav class="menu">
        <ul class="menu_list">
            <li class="menu_item"><a href="/">Стартовая страница</a></li>
            <li class="menu_item"><a href="/events/create/">Добавить мероприятие</a></li>
            <li class="menu_item"><a href="/events/search/">Поиск</a></li>
            <li class="menu_item"><a href="/events/anek/">Програмистский анекдот</a></li>
        </ul>

    </nav>

    <main class="main">
		На экране мероприятий отображается {{ rows }} строк.
		<form enctype="multipart/form-data" method="post" >
			{% csrf_token %}
			<label>Изменить колличество: </label>
			<textarea cols="1" name="numbers_of_row" maxlength="2"></textarea>
			<button type="submit">Сохранить</button>

		</form>
	
        <table class='list_table'>
            <th>ID</th>
            <th>Дата</th>
            <th>Название</th>
            <th>Перед залами</th>
            <th>На экране списка</th>
            <th>Время начала</th>
            <th>Время окончания</th>
            <th>Действия</th>

            {% for event in events %}
        <tr>
            <td>
                <a href="/events/{{ event.id }}">{{ event.id }} </a>
            </td>
            <td>
                {{ event.data|date:'d M Y' }}
            </td>
            <td>
                {{ event.title }}
            </td>
            <td>
                {% for hall in event.room.all %}
                <p>{{ hall }}</p>
                {% endfor %}</h3>
            </td>
            <td>
                пока пусто
            </td>
            <td>
                {{ event.begin_time|time:'H:i' }}
            </td>
            <td>
                {{ event.finish_time|time:'H:i' }}
            </td>
            <td>
                <p><a href="/events/{{ event.id }}/edit"> Изменить</p>
                <p><a href="/events/{{ event.id }}/delete"> Удалить </p>
            </td>
        </tr>
            {% endfor %}
        </table>
		
			<br>
		{% if page_obj.has_previous %}
			<a href="?page=1">1</a>
			{% if page_obj.previous_page_number != 1 %}
				...
				<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
			{% endif %}
		{% endif %}

		{{ page_obj.number }}
		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
			{% if paginator.num_pages != page_obj.next_page_number %}
				...
				<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
			{% endif %}
		{% endif %}
    </main>

    <footer class="footer">

    </footer>
</body>

</html>
