
{% load static %}

<html>

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Инфосистема "Московские Ворота"</title>
</head>

<body class="body">

    <header class="header">
        <div class="logo"> <img src="{% static 'pict/logo_mv.png' %}" alt="Logo"> </div>
        <div class="title">Инфосистема "Московские Ворота"</div>
    </header>

    <nav class="menu">
        <ul class="menu_list">
            <li class="menu_item" id="list_events"><a href="/">Список мероприятий</a></li>
            <li class="menu_item" id="add_events"><a href="/events/create/">Добавить мероприятие</a></li>
            <li class="menu_item" id="search_events"><a href="/events/search/">Расширенный поиск</a></li>
            <li class="menu_item" id="send_events"><a href="/events/send/">Рассылка</a></li>
            <li class="menu_item"><a href="/events/list">Экран списка</a></li>
			<li class="menu_item"><a href="/events/help">Справка</a></li>
        </ul>

    </nav>

    <main class="main">
                    {% block content %}
                    {{ flatpage.content }}
                    {% endblock content %}

    </main>

    <footer class="niz">
        <p>Разработка - Игнатьев Леонид</p>
        <p>2023-2024 г.</p>
    </footer>


</body>
</html>
